language: python

python:
  - 2.6
  - 2.7
  - 3.2
  - 3.3
  - 3.4

before_install:
  - |
       # workaround https://github.com/travis-ci/travis-ci/issues/2666
       if [ "$TRAVIS_PULL_REQUEST" != "false" ]; then
         PR_FIRST=$(curl -s https://github.com/${TRAVIS_REPO_SLUG}/pull/${TRAVIS_PULL_REQUEST}.patch | head -1 | grep -o -E '\b[0-9a-f]{40}\b' | tr -d '\n')
         TRAVIS_COMMIT_RANGE=$PR_FIRST^..$TRAVIS_COMMIT
       fi

install:
  - if [[ $TRAVIS_PYTHON_VERSION == '2.6' ]]; then travis_retry pip install unittest2; fi

script:
  - if [[ $TRAVIS_PYTHON_VERSION == '2.6' ]]; then unit2 discover; else python -m unittest discover; fi
  - ./setup.py install && make test
  - echo "Will test commits between $TRAVIS_COMMIT_RANGE:"
  - git log --oneline --reverse $TRAVIS_COMMIT_RANGE
  - | 
      for i in $(git log --pretty=format:%H --reverse $TRAVIS_COMMIT_RANGE); do
        git checkout $i
        make clean
        if [[ $TRAVIS_PYTHON_VERSION == '2.6' ]]; then
          unit2 discover || exit 1
        else
          python -m unittest discover || exit 1
        fi
        make test-local || exit 1
        cd $TRAVIS_BUILD_DIR
      done

sudo: false


